<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-vallesda/blob/main/exam_review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# What is the result of the following operation 3+2*2?

3 +2 * 2

7

In [2]:
#What is the type of the following variable: True?
type(bool)

type

In [3]:
#What is the result of the following operation int(3.2)?
int(3.2)

3

In [4]:
#Consider the string A='1234567', what is the result of the following operation: A[1::2]

A = '1234567'
A[1::2]

'246'

In [5]:
#Consider the string Name="Michael Jackson" , what is the result of the following operation Name.find('el')
Name = "Michael Jakcson"
Name.find('el')

5

In [6]:
# The variables A='1' and B='2' ,what is the result of the operation A+B?
A = '1'
B = '2'
A + B

'12'

In [7]:
# 
A=['1','2','3']

for a in A:
  print(2*a)

11
22
33