<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-vallesda/blob/main/module3_python_programming_fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Actividad 1: Python for Data Science (IBM)

##**Nombre**: David Valles
##**Matricula**: A01191310

# Module 3
Learning Objectives


*   Conditions and branching
*   Loops
*   Functions
*   Objects and Classes

## Conditions and Branching

In [1]:
x='a'

if(x!='a'):
  print("This is not a.")
else:
  print("This is a.")

This is a.

In [2]:
# select a i value that produces true for i != 0
i = 1
if (i!=0):
  print('true')

true

In [3]:
age = 25

if (age > 18):
  print('You can enter')
elif(age == 18):
  print('go see pink floyd')
else:
  print('go ssee meat loaf')

print('move on')

You can enter
move on

In [4]:
# Condition statement example

album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
    
print("")
print("Do Stuff..")

Album year was in between 1980 and 1989

Do Stuff..

In [5]:
# Condition statement example

album_year = 1990

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

Album was not made in the 1980's

In [6]:
#Quiz 1
rating = 8.5
if rating > 8:
    print ("This album is Amazing!")

This album is Amazing!

In [7]:
#Quiz 2
rating = 8.5
if rating > 8:
  print('This album is Amazing!')
else:
  print('This album is ok')

This album is Amazing!

In [8]:
#Quiz 3
year = 1991

if year < 1980 or year == 1991 or year == 1993:
  print(year)
  print("This album came out in year", album_year)

1991
This album came out in year 1990

## Loops

In [9]:
# Use the range

range(3)

range(0, 3)

In [10]:
# For loop example

dates = [1982,1980,1973]
N = len(dates)

for i in range(N):
    print(dates[i])

1982
1980
1973

In [11]:
# Example of for loop

for i in range(0, 8):
    print(i)

0
1
2
3
4
5
6
7

In [12]:
for year in dates:  
    print(year)

1982
1980
1973

In [13]:
# Use for loop to change the elements in list

squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'white'
    print("After square ", i, 'is',  squares[i])

Before square  0 is red
After square  0 is white
Before square  1 is yellow
After square  1 is white
Before square  2 is green
After square  2 is white
Before square  3 is purple
After square  3 is white
Before square  4 is blue
After square  4 is white

In [14]:
# Loop through the list and iterate on both index and element value

squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

In [15]:
squares=['red', 'yellow', 'green', 'purple', 'blue']

for square in squares:
    print(square)

red
yellow
green
purple
blue

In [16]:
# While Loop Example

dates = [1982, 1980, 1973, 2000]

i = 0
year = dates[0]

while(year != 1973):    
    print(year)
    i = i + 1
    year = dates[i]
    

print("It took ", i ,"repetitions to get out of loop.")

1982
1980
It took  2 repetitions to get out of loop.

In [17]:
#Quiz 1
#Write a for loop the prints out all the element between -5 and 5 using the range function.
for i in range(-5, 6):
  print(i)

-5
-4
-3
-2
-1
0
1
2
3
4
5

In [18]:
#Print the elements of the following list: Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop'] Make sure you follow Python conventions.
genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for i in genres:
  print(i)

rock
R&B
Soundtrack
R&B
soul
pop

In [19]:
#Write a for loop that prints out the following list: squares=['red', 'yellow', 'green', 'purple', 'blue']
squares=['red', 'yellow', 'green', 'purple', 'blue']
for color in squares:
  print(color)

red
yellow
green
purple
blue

In [20]:
#Write a while loop to display the values of the Rating of an album playlist stored in the list PlayListRatings. If the score is less than 6, exit the loop. The list PlayListRatings is given by: PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
index = 0;
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
l = len(PlayListRatings)

while index < l and PlayListRatings[index] > 6:
  print(PlayListRatings[index])
  index = index + 1

10
9.5
10
8
7.5

In [21]:
#Write a while loop to copy the strings 'orange' of the list squares to the list new_squares. Stop and exit the loop if the value on the list is not 'orange':
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []

for color in squares:
  if color == 'orange':
    new_squares.append('orange');
  else:
    break
    
new_squares

['orange', 'orange']

In [22]:
A=[3,4,5]

for a in A:
  print(a)

3
4
5

In [23]:
a=1

def add(b):
  return a+b

c=add(10)

print(c)

11

##Functions

A function is a reusable block of code which performs operations specified in the function. They let you break down tasks and allow you to reuse your code in different programs.

There are two types of functions :

Pre-defined functions
User defined functions


###Variables and Parameters
The input to a function is called a formal parameter.

A variable that is declared inside a function is called a local variable. The parameter only exists within the function (i.e. the point where the function starts and stops).

A variable that is declared outside a function definition is a global variable, and its value is accessible and modifiable throughout the program. We will discuss more about global variables at the end of the lab.

In [24]:
# First function example: Add 1 to a and store as b

def add(a):
    """
    add 1 to a
    """
    b = a + 1
    print(a, "if you add one", b)
    return(b)

In [25]:
add(1)

1 if you add one 2

2

In [26]:
# Example for setting param with default value

def isGoodRating(rating=4): 
    if(rating < 7):
        print("this album sucks it's rating is",rating)
        
    else:
        print("this album is good its rating is",rating)

isGoodRating()

this album sucks it's rating is 4

In [27]:
# Example of global variable

artist = "Michael Jackson"
def printer1(artist):
    internal_var1 = artist
    print(artist, "is an artist")
    
printer1(artist)
# try runningthe following code
#printer1(internal_var1)

Michael Jackson is an artist

In [28]:
# Example of global variable

myFavouriteBand = "AC/DC"

def getBandRating(bandname):
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is:", getBandRating("AC/DC"))
print("Deep Purple's rating is:",getBandRating("Deep Purple"))
print("My favourite band is:", myFavouriteBand)

AC/DC's rating is: 10.0
Deep Purple's rating is: 0.0
My favourite band is: AC/DC

In [29]:
def printAll(*args): # All the arguments are 'packed' into args which can be treated like a tuple
    print("No of arguments:", len(args)) 
    for argument in args:
        print(argument)
#printAll with 3 arguments
printAll('Horsefeather','Adonis','Bone')
#printAll with 4 arguments
printAll('Sidecar','Long Island','Mudslide','Carriage')

No of arguments: 3
Horsefeather
Adonis
Bone
No of arguments: 4
Sidecar
Long Island
Mudslide
Carriage

In [30]:
def printDictionary(**args):
    for key in args:
        print(key + " : " + args[key])

printDictionary(Country='Canada',Province='Ontario',City='Toronto')

Country : Canada
Province : Ontario
City : Toronto

In [31]:
def addItems(list):
    list.append("Three")
    list.append("Four")

myList = ["One","Two"]

addItems(myList)

myList

['One', 'Two', 'Three', 'Four']

In [32]:
#Come up with a function that divides the first input by the second input:

def division(a, b):
    return a / b

division(10,5)

2.0

In [33]:
#Can the con function we defined before be used to add two integers or strings? Yes
def con(a, b):
    return(a + b)

con('Sam', "uel")

'Samuel'

In [34]:
#Can the con function we defined before be used to concatenate lists or tuples?
con([1,2], [3, 4])

[1, 2, 3, 4]

# Classes and Objects

In [35]:
import matplotlib.pyplot as plt
%matplotlib inline

In [36]:
# Create a class Circle

class Circle(object):
    
    # Constructor
    def __init__(self, radius=3, color='blue'):
        self.radius = radius
        self.color = color 
    
    # Method
    def add_radius(self, r):
        self.radius = self.radius + r
        return(self.radius)
    
    # Method
    def drawCircle(self):
        plt.gca().add_patch(plt.Circle((0, 0), radius=self.radius, fc=self.color))
        plt.axis('scaled')
        plt.show()

Exercise

Text Analysis 
You have been recruited by your friend, a linguistics enthusiast, to create a utility tool that can perform analysis on a given piece of text. Complete the class 'analysedText' with the following methods -

Constructor (__init__) - This method should take the argument text, make it lower case, and remove all punctuation. Assume only the following punctuation is used: period (.), exclamation mark (!), comma (,) and question mark (?). Assign this newly formatted text to a new attribute called fmtText.
freqAll - This method should create and return dictionary of all unique words in the text, along with the number of times they occur in the text. Each key in the dictionary should be the unique word appearing in the text and the associated value should be the number of times it occurs in the text. Create this dictionary from the fmtText attribute.
freqOf - This method should take a word as an argument and return the number of occurrences of that word in fmtText.
The skeleton code has been given to you. Docstrings can be ignored for the purpose of the exercise.
Hint: Some useful functions are replace(), lower(), split(), count()

In [37]:
class analysedText(object):
    
    def __init__ (self, text):

        # TODO: Remove the punctuation from <text> and make it lower case.
        self.fmtText = text.replace('.', '').replace('!', '').replace(',', '').replace('?', '').lower()
        print(self.fmtText)

        # TODO: Assign the formatted text to a new attribute called "fmtText"
        
        pass 
    
    def freqAll(self):    

        # TODO: Split the text into a list of words
        words = self.fmtText.split()

        # TODO: Create a dictionary with the unique words in the text as keys
        # and the number of times they occur in the text as values
        dic = {}
        for word in words:
            if not(word in dic):
                dic[word] = 0
            
            dic[word] = dic[word] + 1
      
        return dic
        pass # return the created dictionary
    
    def freqOf(self, word):

        # TODO: return the number of occurrences of <word> in <fmtText>
        current_dic = self.freqAll()
        return current_dic[word]

In [38]:
# Excerise Car Class

class Car(object):
    def __init__(self,make,model,color):
        self.make=make;
        self.model=model;
        self.color=color;
        self.owner_number=0 
    def car_info(self):
        print("make: ",self.make)
        print("model:", self.model)
        print("color:",self.color)
        print("number of owners:",self.owner_number)
    def sell(self):
        self.owner_number=self.owner_number+1

In [39]:
# create a car
make="BMW"
model="M3"
color="red"

car = Car(make, model, color)

In [40]:
# use method to print attribute
car.car_info()

make:  BMW
model: M3
color: red
number of owners: 0

In [41]:
# Using the Class Car in the lab, create a Car object with the following attributes:
make="Honda"
model="Accord"
color="blue"

car2 = Car(make, model, color)

In [42]:
car3 = Car(make="Honda", model="Accord", color="Blue")
car3.car_info()

make:  Honda
model: Accord
color: Blue
number of owners: 0

In [43]:
car4 = Car(model="Accord", color="Blue", make="Honda")
car4.car_info()

make:  Honda
model: Accord
color: Blue
number of owners: 0

## Review Questions

In [44]:
x=1

if(x!=1):
  print('Hello')
else:
  print('Hi')

print('Mike')

Hi
Mike

In [45]:
A = ['1','2','3']

for a in A:
  print(2*a)

11
22
33

In [46]:
def Delta(x):
  if x==0:
    y=1;
  else:
    y=0;
  return(y)

In [47]:
B = [-1,2,9,-10,55]
B.sort()
print(B)

[-10, -1, 2, 9, 55]