<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-vallesda/blob/main/module4_working_with_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Module 4

###Learning Objectives


* Reading files with open
* Writing files with open
* Loading data with Pandas
* Working with and Saving data with Pandas

## Reading Files in Python

The open function provides a File object that contains the methods and attributes you need in order to read, save, and manipulate the file.

The mode argument is optional and the default value is r. In this notebook we only cover two modes:

**r**: Read mode for reading files
**w**: Write mode for writing files



----------------------------------


We can also pass an argument to  readline()  to specify the number of charecters we want to read. However, unlike  read(),  readline() can only read one line at most.

----------------------------------

It's fairly ineffecient to open the file in a or w and then reopening it in r to read any lines. Luckily we can access the file in the following modes:

r+ : Reading and writing. Cannot truncate the file.
w+ : Writing and reading. Truncates the file.
a+ : Appending and Reading. Creates a new file, if none exists.
You dont have to dwell on the specifics of each mode for this lab.

In [1]:
# Read the Example1.txt
example1 = "sample_data/example.txt"
file1 = open(example1, "r")

In [2]:
# Print the path of file

file1.name

'sample_data/example.txt'

In [3]:
# Print the mode of file, either 'r' or 'w'

file1.mode

'r'

In [5]:
# Read the file

FileContent = file1.read()
FileContent

''

In [6]:
# Close file after finish

file1.close()

In [8]:
# Open file using with

with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

this is a text example.
this is a second line.
this is a third line

In [10]:
# Read first 7 characters

with open(example1, "r") as file1:
    print(file1.read(7))

this is

In [11]:
# Read all lines and save as a list

with open(example1, "r") as file1:
    FileasList = file1.readlines()

## Writing Files in Python

In [13]:
# Write line to file
example2 = "sample_data/example1.txt"
with open(example2, 'w') as writefile:
    writefile.write("This is line A")

In [14]:
# Sample Text Lines

Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
# Write the strings in the list to text file

with open(example2, 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

In [15]:
Lines = ["This is appends1", "This is line appends2", "This is line appends3"]
# Write the strings in the list to text file

with open(example2, 'a') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is appends1
This is line appends2
This is line appends3

In [21]:
# Copy file to another

with open(example1,'r') as readfile:
    with open('sample_data/example3.txt','a+') as writefile:
          for line in readfile:
                writefile.write(line)

## Files Exercise

Your local university's Raptors fan club maintains a register of its active members on a .txt document. Every month they update the file by removing the members who are not active. You have been tasked with automating this with your Python skills.
Given the file currentMem, Remove each member with a 'no' in their Active column. Keep track of each of the removed members and append them to the exMem file. Make sure that the format of the original files in preserved.

Implement the cleanFiles function in the code cell below.

In [102]:
def isActive(fileString):
    return fileString.find('yes') != -1;
    
    
'''
The two arguments for this function are the files:
    - currentMem: File containing list of current members
    - exMem: File containing list of old members
    
    This function should remove all rows from currentMem containing 'no' 
    in the 'Active' column and appends them to exMem.
    '''
def cleanFiles(currentMem, exMem):
    listOfActiveMembers = []
    with open(currentMem, 'r+') as memFile:
        listOfLines = memFile.readlines()
        headers = listOfLines[0]
        currentMembersList = listOfLines[1:]

        with open(exMem, 'a+') as exFile:
            for members in currentMembersList:
                activeMember = isActive(members)
                if activeMember:
                    listOfActiveMembers.append(members)
                else:
                    exFile.write(members)
                    
    with open(currentMem, 'w') as memFile:
        memFile.write(headers)
        for line in listOfActiveMembers:
            memFile.write(line)

## Introduction To Pandas

Data analysis with California Housing Data`

In [26]:
# Import required library

import pandas as pd

In [27]:
# Read data from CSV file
housingData = 'sample_data/california_housing_test.csv'
df = pd.read_csv(housingData)

In [28]:
# Print first five rows of the dataframe

df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [39]:
# Access a column
x = df['latitude']
x

0       37.37
1       34.26
2       33.78
3       33.82
4       36.33
        ...
2995    34.42
2996    34.06
2997    36.30
2998    34.10
2999    34.42
Name: latitude, Length: 3000, dtype: float64

In [43]:
# get column as a data frame
x = df[['latitude']]
type(x)

pandas.core.frame.DataFrame

In [45]:
x = df[['latitude', 'total_rooms']]
x

      latitude  total_rooms
0        37.37       3885.0
1        34.26       1510.0
2        33.78       3589.0
3        33.82         67.0
4        36.33       1241.0
...        ...          ...
2995     34.42       1450.0
2996     34.06       5257.0
2997     36.30        956.0
2998     34.10         96.0
2999     34.42       1765.0

[3000 rows x 2 columns]

In [46]:
# Acces value of first row and column
df.iloc[0, 0]

-122.05

In [47]:
# acces data from new df
x.iloc[1, 0]

34.26

In [57]:
# access column using name .loc
df.loc[1, 'longitude']

-118.3

In [62]:
#get first 3 rows
df.iloc[0:3, :]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0

In [63]:
#get first 10 rows and 3 cols slicing
df.iloc[0:10, 0:3]

   longitude  latitude  housing_median_age
0    -122.05     37.37                27.0
1    -118.30     34.26                43.0
2    -117.81     33.78                27.0
3    -118.36     33.82                28.0
4    -119.67     36.33                19.0
5    -119.56     36.51                37.0
6    -121.43     38.63                43.0
7    -120.65     35.48                19.0
8    -122.84     38.40                15.0
9    -118.02     34.08                31.0

In [64]:
# slicing using cols names
df.loc[0:10, :'total_bedrooms']

    longitude  latitude  housing_median_age  total_rooms  total_bedrooms
0     -122.05     37.37                27.0       3885.0           661.0
1     -118.30     34.26                43.0       1510.0           310.0
2     -117.81     33.78                27.0       3589.0           507.0
3     -118.36     33.82                28.0         67.0            15.0
4     -119.67     36.33                19.0       1241.0           244.0
5     -119.56     36.51                37.0       1018.0           213.0
6     -121.43     38.63                43.0       1009.0           225.0
7     -120.65     35.48                19.0       2310.0           471.0
8     -122.84     38.40                15.0       3080.0           617.0
9     -118.02     34.08                31.0       2402.0           632.0
10    -118.24     33.98                45.0        972.0           249.0

In [65]:
# Question 1
#Consider the dataframe df. How would you find the element in the second row and first column?
df.iloc[0,1]

37.37

In [66]:
#Will the following code run?
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()
#yes

    a   b
0  11  21
1  21  22
2  31  23

## Working with Pandas

In [75]:
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
x = df['a']
x

0    1
1    2
2    1
Name: a, dtype: int64

In [84]:
# unique

housingData = 'sample_data/california_housing_test.csv'
df = pd.read_csv(housingData)
df['housing_median_age'].unique()

array([27., 43., 28., 19., 37., 15., 31., 45., 36., 16., 42., 26., 35.,
       40., 47., 13., 52., 32., 30., 14., 34., 17.,  5., 38., 33., 11.,
       48.,  4., 24.,  6., 21., 39., 10., 44., 18., 12., 22., 29., 46.,
       50., 20., 49., 25., 23., 41.,  8.,  3.,  7.,  9.,  2., 51.,  1.])

In [93]:
# create new df with latitude above 41

df1 = df[df['latitude'] >= 41]
df1

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
88,-123.52,41.01,17.0,1564.0,345.0,517.0,222.0,2.1542,83800.0
595,-122.27,41.23,40.0,1958.0,386.0,725.0,331.0,2.1898,65500.0
910,-124.16,41.92,19.0,1668.0,324.0,841.0,283.0,2.1336,75000.0
1422,-124.17,41.80,16.0,2739.0,480.0,1259.0,436.0,3.7557,109400.0
2018,-122.32,41.31,45.0,1393.0,294.0,521.0,249.0,1.1915,71900.0
2496,-122.27,41.20,52.0,4513.0,985.0,1926.0,815.0,1.5923,56000.0
2575,-122.45,41.28,15.0,2740.0,503.0,1188.0,445.0,3.4519,128800.0
2778,-123.92,41.54,22.0,2920.0,636.0,1382.0,499.0,2.0202,71100.0
2951,-122.64,41.63,19.0,2722.0,479.0,1108.0,430.0,3.1062,100000.0

In [101]:
# new file
# create new cvs file with data above 41 latitude
df1.to_csv('sample_data/california_housing_latitude.csv')

## Review Questions

In [76]:
# What do the following lines of code do?
# A: Read the file example1
with open("sample_data/example1.txt","r") as file1:
  FileContent=file1.readlines()
  print(FileContent)

['This is line A\n', 'This is line B\n', 'This is line C\n', 'This is appends1This is line appends2This is line appends3']

In [77]:
#What do the following lines of code do?
# A: Write to example txt
with open("sample_data/example.txt","w") as writefile:
  writefile.write("This is line A\n")
  writefile.write("This is line B\n")

In [80]:
#What do the following lines of code do?
# A: Appends to file

with open("sample_data/example1.txt","a") as file1:
  file1.write("This is line C\n")

with open("sample_data/example1.txt","r") as file1:
  FileContent=file1.readlines()
  print(FileContent)

['This is line A\n', 'This is line B\n', 'This is line C\n', 'This is appends1This is line appends2This is line appends3This is line C\n', 'This is line C\n', 'This is line C\n']

In [82]:
#What is the result of applying the following method df.head() to the dataframe "df"?
#A: Prints the first 5 rows of df

df.head()

   a  b
0  1  1
1  2  1
2  1  1