<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-vallesda/blob/main/module2_python_data_structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 2

### Learning Objectives


*   Lists and Tuples
*   Sets
* Dictionaries

## Tuples

In [ ]:
tuple1 = ('disco', 10, 1.2)
tuple1

('disco', 10, 1.2)

In [ ]:
type(tuple1)

tuple

In [ ]:
tuple1[-1]

1.2

In [ ]:
#concatenate two tuples
tuple2 = tuple1 + ('hard rock', 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [ ]:
#slicing

In [ ]:
tuple2[0:3]

('disco', 10, 1.2)

In [ ]:
tuple2[3:5]

('hard rock', 10)

In [ ]:
#get len of tuple
len(tuple2)

5

In [ ]:
# Sorting tuples
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)
ratings_sorted = sorted(Ratings)
ratings_sorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [ ]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [ ]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [ ]:

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [ ]:
#find len of genres_tuple
len(genres_tuple)

8

In [ ]:
#access the element with respect to index 3
genres_tuple[3]

'hard rock'

In [ ]:
#Use slicing to obtain indexes 3, 4 and 5:
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

In [ ]:
#Find the first two elements of the tuple genres_tuple:
genres_tuple[0:2]

('pop', 'rock')

In [ ]:
#Find the first index of "disco":
genres_tuple.index('disco')

7

In [ ]:
#Generate a sorted List from the Tuple C_tuple=(-5, 1, -3):
c_tuple = (-5, 1, -3)
sorted(c_tuple)

[-5, -3, 1]

## List

In [ ]:
# Create a list

L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [ ]:
# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [ ]:
# List slicing

L[3:5]

['MJ', 1]

In [ ]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [ ]:
L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [ ]:
L

['Michael Jackson', 10.2, ['pop', 10]]

In [ ]:
# Copy (copy by reference) the list A
# Clone (clone by value) the list A


A = ["hard rock", 10, 1.2]

B = A[:]
B

['hard rock', 10, 1.2]

In [ ]:
#Create a list a_list, with the following elements 1, hello, [1,2,3] and True.
a_list = [1, 'hello', [1,2,3], True]
a_list

[1, 'hello', [1, 2, 3], True]

In [ ]:
#Find the value stored at index 1 of a_list.
a_list[1]

'hello'

In [ ]:
#Retrieve the elements stored at index 1, 2 and 3 of a_list.
a_list[1:4]

['hello', [1, 2, 3], True]

In [ ]:
# Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']:
A = [1, 'a']
B = [2, 1, 'd']
A + B

# or A.extend(B)

[1, 'a', 2, 1, 'd']

## Set

In [ ]:
# Create a set

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [ ]:
# Convert list to set

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [ ]:
#Union of sets
S = {'A', 'B', 'C'}
U = {'A', 'Z', 'C'}
U.union(S)

{'A', 'B', 'C', 'Z'}

In [ ]:
#Intersection of sets
S & U

{'A', 'C'}

In [ ]:
# Sample set

A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [ ]:
A.add('New Music')
A

{'AC/DC', 'Back in Black', 'New Music', 'Thriller'}

In [ ]:
#Adds checks if exists in set and removes it
A.add('Thriller')
if 'Thriller' in A:
  A.remove('Thriller')

A

{'AC/DC', 'Back in Black', 'New Music'}

In [ ]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [ ]:
# Find the intersections

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [ ]:
# Find the difference in set1 but not set2

album_set1.difference(album_set2)

{'Thriller'}

In [ ]:

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [ ]:
album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [ ]:
# Check if superset
set(album_set1).issuperset(album_set2)

False

In [ ]:
# Check if subset

set(album_set2).issubset(album_set1)

False

In [ ]:
set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [ ]:
#Convert the list ['rap','house','electronic music', 'rap'] to a set:

music_set = set(['rap','house','electronic music', 'rap'])
music_set

{'electronic music', 'house', 'rap'}

In [ ]:
#Consider the list A = [1, 2, 2, 1] and set B = set([1, 2, 2, 1]), does sum(A) == sum(B)?
A = set([1, 2, 2, 1])
B = set([1, 2, 2, 1])

A.issuperset(B)

True

In [ ]:
#Create a new set album_set3 that is the union of album_set1 and album_set2:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

album_set3 = album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [ ]:
#Find out if album_set1 is a subset of album_set3:
album_set1.issubset(album_set3)

True

In [ ]:
#Consider the list A = [1, 2, 2, 1] and set B = set([1, 2, 2, 1]), does sum(A) == sum(B)?
A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])
print(sum(A))
print(sum(B))

6
3

## Dictionaries

In summary, like a list, a dictionary holds a sequence of elements. Each element is represented by a key and its corresponding value. Dictionaries are created with two curly braces containing keys and values separated by a colon. For every key, there can only be one single value, however, multiple keys can hold the same value. Keys can only be strings, numbers, or tuples, but values can be any data type.

In [ ]:
# Create the dictionary

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [ ]:
# Create a sample dictionary

release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [ ]:
# Get all the keys in dictionary
release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [ ]:
# Get all the values in dictionary

release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

In [ ]:
# Append value with key into dictionary

release_year_dict['Graduation'] = '2007'
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [ ]:
# Delete entries by key

del(release_year_dict['Thriller'])
del(release_year_dict['Graduation'])
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [ ]:
# Verify the key is in the dictionary

'The Bodyguard' in release_year_dict

True

In [ ]:
# Question sample dictionary

soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic

{'The Bodyguard': '1992', 'Saturday Night Fever': '1977'}

In [ ]:
#In the dictionary soundtrack_dic what are the keys ?

soundtrack_dic.keys()

dict_keys(['The Bodyguard', 'Saturday Night Fever'])

In [ ]:
#In the dictionary soundtrack_dic what are the values ?
soundtrack_dic.values()

dict_values(['1992', '1977'])

In [ ]:
# Create a dictionary album_sales_dict where the keys are the album name and the sales in millions are the values.
album_sales_dict = {'Back in Black': 50, 'The Bodyguard': 50, 'Thriller': 65}
album_sales_dict

{'Back in Black': 50, 'The Bodyguard': 50, 'Thriller': 65}

In [ ]:
# Use the dictionary to find the total sales of Thriller:
album_sales_dict['Thriller']

65

In [ ]:
#Find the names of the albums from the dictionary using the method keys():
album_sales_dict.keys()

dict_keys(['Back in Black', 'The Bodyguard', 'Thriller'])

In [ ]:
#Find the values of the recording sales from the dictionary using the method values:
album_sales_dict.values()

dict_values([50, 50, 65])

## Review Questions

In [ ]:
#What is the syntax used to obtain the first element of the tuple:
A=('a', 'b', 'c')
A[0]

'a'

In [ ]:
#Q: How many duplicate elements can you have in a set?
#A: You can only have one unique element in a Set.

In [ ]:
#Q: After applying the following method, L.append(['a','b']), the following list will only be one element longer.
#A: True

L = ['1', '2']
L.append(['a', 'b'])
L

['1', '2', ['a', 'b']]

In [ ]:
#What is the result of the following operation: Dict["D"]?
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict["D"]

(4, 4, 4)

In [ ]:
#Q What is an important difference between lists and tuples?
#A Lists are mutable, tuples are not